language: scala
dist: trusty
scala:
  - 2.13.0
  - 2.12.8
  - 2.11.12
jdk:
  - oraclejdk8
sudo: false
services:
  - rabbitmq
notifications:
  slack: thenewmotion:AXSluctig1mmZbeKRDeeY41s
cache:
  directories:
    - $HOME/.sbt
    - $HOME/.ivy2/cache
